<h5 class="text-mainColor">{{ "home.newCollection" | translate }}</h5>
<h6 class="text-textcolor text-[24px] mb-5">
  {{ "home.CheckthenewCollection" | translate }}
</h6>
<div class="grid md:grid-cols-2 gap-4 cursor-pointer">
  <div class="relative">
    <img class="w-full rounded-xl h-[556px]" src="/images/shose.png" alt="" />
    <div
      class="absolute flex flex-col text-white rounded-xl items-center justify-center top-0 left-0 bottom-0 right-0 bg-black bg-opacity-40"
    >
      <div class="text-start">
        <h1 class="text-[32px]">{{ "home.Shoes" | translate }}</h1>
        <span class="text-[18px]"> {{ "home.UPTO50%OFF" | translate }}</span>
      </div>
    </div>
  </div>
  <div class="flex md:flex-col justify-evenly md:gap-y-4 gap-x-2">
    <div class="relative">
      <img
        class="h-[270px] w-full rounded-2xl object-cover"
        src="/images/bags.jpeg"
        alt=""
      />
      <div
        class="absolute flex flex-col rounded-2xl text-white items-center justify-center top-0 left-0 bottom-0 right-0 bg-black bg-opacity-40"
      >
        <div class="text-start">
          <h1 class="text-[32px]">{{ "home.bags" | translate }}</h1>
          <span class="text-[18px]">{{ "home.UPTO50%OFF" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="relative">
      <img
        class="h-[270px] w-full rounded-2xl object-cover"
        src="/images/acc.jpeg"
        alt=""
      />
      <div
        class="absolute flex flex-col rounded-2xl text-white items-center justify-center top-0 left-0 bottom-0 right-0 bg-black bg-opacity-40"
      >
        <div class="text-start">
          <h1 class="md:text-[32px] text-[28px]">
            {{ "home.Accessories" | translate }}
          </h1>
          <span class="text-[18px]">{{ "home.UPTO50%OFF" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
