<owl-carousel-o [options]="customOptionsMain">
  <ng-template carouselSlide
    ><div class="relative">
      <div
        class="bg-black flex text-white items-center absolute top-0 bottom-0 start-0 end-0 bg-opacity-30"
      >
        <div class="ms-32">
          <h4 class="text-[30px] mb-2">
            {{ "home.secondSlider.UpgradeyourStyle" | translate }}
          </h4>
          <h5 class="text-[24px] mb-5 w-[60%]">
            {{ "home.secondSlider.desc" | translate }}
          </h5>
          <button
            class="bg-mainColor self-start py-1 px-8 rounded-lg text-white"
          >
            {{ "home.secondSlider.shopnow" | translate }}
          </button>
        </div>
      </div>

      <img class="photoFit" src="/images/image.jpeg" alt="" /></div
  ></ng-template>
  <ng-template carouselSlide
    ><div class="relative">
      <div
        class="bg-black flex text-white items-center absolute top-0 bottom-0 start-0 end-0 bg-opacity-30"
      >
        <div class="ms-32">
          <h4 class="text-[30px] w-[60%] mb-5">
            {{ "home.secondSlider.UpgradeyourStyle" | translate }}
          </h4>
          <h5 class="text-[24px] mb-5">
            {{ "home.secondSlider.desc" | translate }}
          </h5>
          <button
            class="bg-mainColor self-start py-1 px-8 rounded-lg text-white"
          >
            {{ "home.secondSlider.shopnow" | translate }}
          </button>
        </div>
      </div>
      <img class="photoFit" src="/images/Frame 74.png" alt="" /></div
  ></ng-template>
  <ng-template carouselSlide
    ><div class="relative">
      <div
        class="bg-black flex text-white items-center absolute top-0 bottom-0 start-0 end-0 bg-opacity-30"
      >
        <div class="ms-32">
          <h4 class="text-[30px] mb-5 w-[60%]">
            {{ "home.secondSlider.UpgradeyourStyle" | translate }}
          </h4>
          <h5 class="text-[24px] mb-5">
            {{ "home.secondSlider.desc" | translate }}
          </h5>
          <button
            class="bg-mainColor self-start py-1 px-8 rounded-lg text-white"
          >
            {{ "home.secondSlider.shopnow" | translate }}
          </button>
        </div>
      </div>
      <img class="photoFit" src="/images/image2.png" alt="" /></div
  ></ng-template>
</owl-carousel-o>
