<div
  class="w-full relative bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
>
  <a [routerLink]="['/details', data()?._id]">
    <div class="relative">
      <img
        [src]="data()?.imageCover"
        [alt]="data()?.title"
        class="h-[150px] object-contain w-full"
      />
      <div
        class="w-[70px] h-[30px] bg-mainColor rounded-sm text-xl text-white absolute left-3 bottom-6"
      >
        -50%
      </div>
    </div>
    <div class="px-2 mt-1">
      <h5
        class="text-lg tracking-tight font-medium text-start text-[22px] text-textcolor dark:text-white"
      >
        {{ data()?.title?.split(" ")?.slice(0, 2)?.join(" ") }}
      </h5>
      <h6 class="text-start text-[10px] text-mainColor font-extrabold">
        {{ data()?.category?.name }}
      </h6>

      <div class="flex items-baseline mt-1">
        <div class="flex items-center space-x-1 rtl:space-x-reverse">
          <svg
            class="w-4 h-4 text-yellow"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            />
          </svg>
        </div>
        <span class="font-medium text-textcolor text-[14px] ms-2">
          {{ data()?.ratingsAverage }}
        </span>
        <span class="text-[10px] text-gray-300 ms-1">(500+) </span>
      </div>
    </div>
  </a>

  <app-heart-whis [data]="data()"></app-heart-whis>

  <div class="flex items-center pb-1 px-2 justify-between">
    <span class="text-2xl font-semibold text-mainColor dark:text-white">
      {{ data()?.price }}
      <span class="text-gray-300 font-light text-sm line-through"
        >0,00 EGP</span
      >
    </span>
    <span (click)="addCard(data()._id)" class="cursor-pointer">
      <svg
        class="w-6 h-6 text-white p-1 rounded-xl bg-mainColor hover:bg-secondColro dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        /></svg
    ></span>
  </div>
</div>
