<ul
  class="flex flex-wrap text-[12px] font-medium text-center md:w-[90%] mx-auto rounded-full justify-center text-gray-700 bg-[#e6e5e5] dark:text-mainColor"
>
  <li class="">
    <a
      routerLink=""
      routerLinkActive="bg-mainColor text-white capitalize"
      class="inline-block px-8 py-2 rounded-full"
      aria-current="page"
      >all</a
    >
  </li>
  <li class="">
    <a
      routerLink=""
      routerLinkActive=""
      class="inline-block px-8 py-2 capitalize rounded-full"
      aria-current="page"
      >Men's Fashion</a
    >
  </li>
  <li class="">
    <a
      routerLink=""
      routerLinkActive=""
      class="inline-block px-8 py-2 capitalize rounded-full"
      aria-current="page"
      >Women's Fashion</a
    >
  </li>
</ul>
