<div class="relative mt-10 w-full">
  <div
    class="bg-black flex text-white justify-center items-center absolute top-0 bottom-0 start-0 end-0 bg-opacity-50"
  >
    <div class="text-center">
      <h4 class="text-[35px] font-bold mb-2">
        {{ "home.DiscoverFashion" | translate }}
      </h4>
      <p class="mb-5 font-light w-[70%] mx-auto">
        {{ "home.Discoverdesc" | translate }}
      </p>
      <button
        class="outline outline-1 mb-5 outline-white self-start py-1 px-6 font-light rounded-full text-white"
      >
        {{ "home.seeAll" | translate }}
      </button>
    </div>
  </div>

  <img class="photoFit2 w-full" src="/images/image7.png" alt="" />
</div>
